<p>Hi,</p>
<h3>This is <?user_name?>Alcl Member<?/user_name?></h3>

<p>
	I have found a very interesting and userfull system. That I have been using from a while. I think you should also join the system. and yes it is completely free. just click below and get your self registered free.
	<a href="http://alcl.biz/users/?page=newregistration&registration_type=free&sponsor=<?$sponsor?>&leg=<?$leg?>">http://alcl.biz/users/?page=newregistration&registration_type=free&sponsor=<?$sponsor?>&leg=<?$leg?></a>
</p>
	<p><?$custom_message?></p>
	<small><small>
		This email is sent by one of registered member. Alcl is not sending this email to you directly hence kindly take a complete information about the sender and join at your own.
	</small></small>
</p>