[submodule "users/atk4"]
	path = users/atk4
	url = https://github.com/atk4/atk4.git
[submodule "users/atk4-addons"]
	path = users/atk4-addons
	url = https://github.com/atk4/atk4-addons.git
[submodule "pos/atk4"]
	path = pos/atk4
	url = https://github.com/atk4/atk4.git
[submodule "pos/atk4-addons/autocomplete"]
	path = pos/atk4-addons/autocomplete
	url = https://github.com/atk4/autocomplete.git
[submodule "users/atk4-addons/autocomplete"]
	path = users/atk4-addons/autocomplete
	url = https://github.com/atk4/autocomplete.git
[submodule "pos/xavoc-addons"]
	path = pos/xavoc-addons
	url = https://github.com/xavocinternational/xavoc-addons.git
[submodule "users/xavoc-addons"]
	path = users/xavoc-addons
	url = https://github.com/xavocinternational/xavoc-addons.git
[submodule "pos/atk4-addons"]
	path = pos/atk4-addons
	url = https://github.com/atk4/atk4-addons.git
