<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ALCL</title>
<meta name="keywords" content="sailing, theme, web design, free templates, full-site, website templates, CSS, HTML" />
<meta name="description" content="Sailing Theme is a free full-site template provided by templatemo.com" />
<link href="<?template?>templatemo_style.css<?/?>" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="<?template?>content_slider_style.css<?/?>" />
<?$js_include?>
<script type="text/javascript">
	$(document).ready(function(){
     <?$document_ready?>
		$("#featured").tabs({fx:{opacity: "toggle"}}).tabs("rotate",5000,true);
	});
</script>

</head>
<body>

<div id="templatemo_wrapper_outer">

<div id="templatemo_wrapper">
	
    <div id="templatemo_header">

    	<div id="site_title">
            <h1><a href="http://www.templatemo.com"><img src="images/templatemo_logo.png" alt="logo" /><span>Free CSS Templates</span></a></h1>
        </div> <!-- end of site_title -->
        
        <div id="templatemo_menu">
          <?Menu?>
            <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul> 
            <?/Menu?>   	
        </div> <!-- end of templatemo_menu -->

    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_slider">
    
		<div id="featured" >
			<ul class="ui-tabs-nav">
				<li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1"><img src="<?template?>images/content_slider/image1-small.jpg<?/?>" alt="Image1small" /><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></a></li>
				<li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="<?template?>images/content_slider/image2-small.jpg<?/?>" alt="Image2small" /><span> Vestibulum ante ipsum primis in faucibus orci luctus et</span></a></li>
				<li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="<?template?>images/content_slider/image3-small.jpg<?/?>" alt="Image3small" /><span>Nullam commodo, lorem id varius hendrerit</span></a></li>
				<li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#fragment-4"><img src="<?template?>images/content_slider/image4.jpg<?/?>" alt="Image4small" /><span>Etiam congue, leo sit amet iaculis interdum</span></a></li>
			</ul>

			<!-- First Content -->
			<div id="fragment-1" class="ui-tabs-panel" style="">
				<img src="<?template?>images/content_slider/image1.jpg<?/?>" alt="Image 1" width='580' height='250' />
				<div class="info" >
				</div>
			</div>

			<!-- Second Content -->
			<div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
				<img src="<?template?>images/content_slider/image2.jpg<?/?>" alt="Image 2" />
			</div>

			<!-- Third Content -->
			<div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
				<img src="<?template?>images/content_slider/image3.jpg<?/?>" alt="Image 3" />
			</div>

			<!-- Fourth Content -->
			<div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
				<img src="<?template?>images/content_slider/image4.jpg<?/?>" alt="Image 4" />
			</div>
    
		</div>
	</div> <!-- end of templatemo_slider -->
    
    <div id="templatemo_content">
    	<?$Content?>
        
    
	<div class="cleaner"></div>
</div>
</div>

<div id="templatemo_footer_wrapper">
	<div id="footer_top"></div>
	
	<div id="templatemo_footer">
    
        <div class="col_w220">
            <div class="sb_news_box">
            <img src="<?template?>images/templatemo_image_07.jpg<?/?>" alt="Image 07" />
                <h6><a href="#">It’s All in the Family</a></h6>
                When you become part of ALCL, you’re becoming part of a worldwide family. And we take care of our family. You’ll have instant access to helpful tools, tips, trainings, downloads, conference calls, events, and more...
                <div class="cleaner"></div>
            </div>
            
            <ul id="social_box">
                <li><a href="http://www.facebook.com/templatemo"><img src="<?template?>images/facebook.png<?/?>" alt="Facebook" /></a></li>
                <li><a href="http://www.facebook.com/templatemo"><img src="<?template?>images/twitter.png<?/?>" alt="Twitter" /></a></li>
                <li><a href="http://www.facebook.com/templatemo"><img src="<?template?>images/linkedin.png<?/?>" alt="Linkedin" /></a></li>
                <li><a href="http://www.facebook.com/templatemo"><img src="<?template?>images/technorati.png<?/?>" alt="Technorati" /></a></li>
                <li><a href="http://www.facebook.com/templatemo"><img src="<?template?>images/myspace.png<?/?>" alt="Myspace" /></a></li>                
            </ul>
            
        </div>
      </div>
        
        <div class="col_w220">
            <div class="sb_news_box">
            <img src="<?template?>images/templatemo_image_03.jpg<?/?>" alt="Image 07" />
                <h6><a href="#">It’s All in the Family</a></h6>
                When you become part of ALCL, you’re becoming part of a worldwide family. And we take care of our family. You’ll have instant access to helpful tools, tips, trainings, downloads, conference calls, events, and more...
                <div class="cleaner"></div>
            </div>
             
 
        </div>
        
           <div class="col_w220">
            <div class="sb_news_box">
            <img src="<?template?>images/templatemo_image_04.jpg<?/?>" alt="Image 07" />
                <h6><a href="#">It’s All in the Family</a></h6>
                When you become part of ALCL, you’re becoming part of a worldwide family. And we take care of our family. You’ll have instant access to helpful tools, tips, trainings, downloads, conference calls, events, and more...
                <div class="cleaner"></div>
            </div>
 
        </div>
        
        <div class="col_w220 col_last">
            <h5>Our Pages</h5>
            <ul class="tmo_list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About-us</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul> 
        </div>
        
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
	
    <div id="templatemo_copyright">
    
        Copyright © 2048 <a href="#">Arth LifeCare Corporation Ltd.</a> Designed by <a href="http://www.xavoc.com" target="_blank">Xavoc International</a>
    
    </div>
</div>

</body>
</html>